<html>
<head>
<title>ObZerver Site Monitoring</title>
</head>
<!-- Adding some style to table (OPTIONAL) -->
<style type="text/css">
      
  th:tr{
      color: blue;

  }
  tr:nth-of-type(2n){
      border: 1px solid black;
      background-color: rgba(150, 150, 150, 0.5);

  }

  td{
      padding: 8px 8px;
      border: 1px solid black;
  }
</style>
<body>
<h1>Currently monitored sites:</h1>
<table style="margin-left: 20px;">
  <!-- Table headers -->
      <th>
          <tr style="color: green; ">    
          <td>Target</td>
          <td>Status</td>
          <td>Successes</td>
          <td>Failures</td>
  </tr>
      </th>
        
  <!-- For loop logic of jinja template -->
  {%for i in range(0, len)%}
    
  <!-- table rows -->
  <tr>
      <td>{{items[i]}}</td>
      <td>{{items[i]["status"]}}</td>
      <td>{{items[i]["successes"]}}</td>
      <td>{{items[i]["failures"]}}</td>
  {%endfor%}
    
  </tr>
    
  </table>
</body>
</html>  